body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding: 20px 80px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
}